<div class="signup-reason">
  <img src="img/checked.svg">
  <div>Ask any topic safe for work</div>
</div>

<div class="signup-reason">
  <img src="img/ask-work.svg">
  <div>Helpful, quick advice from experts and the community</div>
</div>

<div class="signup-reason">
  <img src="img/checked2.svg">
  <div>Vote and have your opinions count in every question</div>
</div>

<div class="signup-reason">
  <img src="img/smile.svg">
  <div>Friendly and amazing people</div>
</div>

<div class="signup-reason">
  <img src="img/wheat.svg">
  <div>No power-hungry moderators or elitism</div>
</div>

<div class="signup-reason" style="border-bottom:none">
  <img src="img/talk.svg">
  <div>Ask and answer questions anonymously if you wish</div>
</div>
