<ion-view title="Sign up" ng-controller="OnboardingCtrl">
  <ion-content class="padding" style="text-align: center">

    <h2 class="padding">Join the friendliest place to get mass opinions.</h2>

    <div ng-include src="'templates/signup-reasons.html'"></div>

    <a href="#/onboarding/fb1?next_step=onboarding/fb2" class="button button-block button-facebook"><span class="icon-left ion-social-facebook"></span><span>Connect with Facebook</span></a>

    <p></p>
    <a href="#/about">Learn more about Ask the World</a>
  </ion-content>
</ion-view>
