<ion-view title="Facebook" ng-controller="OnboardingCtrl">
  <ion-content class="padding">
    <div style="">&nbsp;</div>
    <div class="row text-center">
      <div class="col"><img src="img/fb-2.png"></div>
    </div>
    <div class="row">
      <div class="col">
        <p><b>Ask the World</b> would like to post to Facebook for you.  Who do you want to share these posts with?</p>
      </div>
    </div>
    <div style="text-align: center; padding-top: 20px; padding-bottom: 20px;" class="item item-input item-select">
      <div class="input-label">
        Share
      </div>
      <select style="font-family: 'FontAwesome', Arial;">
        <option>&#xf26b; Public</option>
        <option>&#xf0c0; Friends</option>
        <option>&#xf007; Only Me</option>
      </select>
    </div>
    <div class="row padding">
      <div class="col col-80">
        <a class="button button-stable" href="#/onboarding/profile_pic_demographics" style="width: 100px; float: right;">Not Now</a>
      </div>
      <div class="col col-20">
        <a class="button button-positive" href="#/onboarding/profile_pic_demographics" style="width: 64px;">Okay</a>
      </div>
    </div>
    <div class="col" style="font-size: 12px;">Terms | Privacy Policy</div>
  </ion-content>
</ion-view>
