<ion-view title="All Topics" ng-controller="OnboardingCtrl" >
  <ion-content>
    <div class="padding">
      <h2>All topics</h2>
    </div>
    <div class="padding">
      <a href="#/question_feed_for_topic?topic=tech" class="item item-button-right" style="display:flex;padding: 10px 10px 10px 12px;">
        <span class="topic-bg-tech" style="background-size: 32px 32px !important;width:32px;height:32px;display:inline-block"></span>
        <span class="topic-text-tech" style="display:inline-block;padding-left: 10px;line-height:32px;font-size:14pt">Technology</span>
      </a>
      <a href="#/question_feed_for_topic?topic=sport" class="item item-button-right" style="display:flex;padding: 10px 10px 10px 12px;">
        <span class="topic-bg-sport" style="background-size: 32px 32px !important;width:32px;height:32px;display:inline-block"></span>
        <span class="topic-text-sport" style="display:inline-block;padding-left: 10px;line-height:32px;font-size:14pt">Sports</span>
      </a>
      <a href="#/question_feed_for_topic?topic=tv" class="item item-button-right" style="display:flex;padding: 10px 10px 10px 12px;">
        <span class="topic-bg-tv" style="background-size: 32px 32px !important;width:32px;height:32px;display:inline-block"></span>
        <span class="topic-text-tv" style="display:inline-block;padding-left: 10px;line-height:32px;font-size:14pt">TV</span>
      </a>
      <a href="#/question_feed_for_topic?topic=movies" class="item item-button-right" style="display:flex;padding: 10px 10px 10px 12px;">
        <span class="topic-bg-movies" style="background-size: 32px 32px !important;width:32px;height:32px;display:inline-block"></span>
        <span class="topic-text-movies" style="display:inline-block;padding-left: 10px;line-height:32px;font-size:14pt">Movies</span>
      </a>
      <a href="#/question_feed_for_topic?topic=life" class="item item-button-right" style="display:flex;padding: 10px 10px 10px 12px;">
        <span class="topic-bg-life" style="background-size: 32px 32px !important;width:32px;height:32px;display:inline-block"></span>
        <span class="topic-text-life" style="display:inline-block;padding-left: 10px;line-height:32px;font-size:14pt">Life</span>
      </a>
      <a href="#/question_feed_for_topic?topic=work" class="item item-button-right" style="display:flex;padding: 10px 10px 10px 12px;">
        <span class="topic-bg-work" style="background-size: 32px 32px !important;width:32px;height:32px;display:inline-block"></span>
        <span class="topic-text-work" style="display:inline-block;padding-left: 10px;line-height:32px;font-size:14pt">Work</span>
      </a>
      <a href="#/question_feed_for_topic?topic=food" class="item item-button-right" style="display:flex;padding: 10px 10px 10px 12px;">
        <span class="topic-bg-food" style="background-size: 32px 32px !important;width:32px;height:32px;display:inline-block"></span>
        <span class="topic-text-food" style="display:inline-block;padding-left: 10px;line-height:32px;font-size:14pt">Food</span>
      </a>
      <a href="#/question_feed_for_topic?topic=best" class="item item-button-right" style="display:flex;padding: 10px 10px 10px 12px;">
        <span class="topic-bg-best" style="background-size: 32px 32px !important;width:32px;height:32px;display:inline-block"></span>
        <span class="topic-text-best" style="display:inline-block;padding-left: 10px;line-height:32px;font-size:14pt">Best of Ask the World</span>
      </a>
    </div>
    <div ng-if="onboardingTopics" style="padding-top: 20px" align="center">
      <a class="button button-positive" href="#/onboarding/emails"><span style="font-family:'Arial Regular', 'Arial';font-weight:400;" >Next: See your question digest ➡</span></a>
    </div>
    
  </ion-content>
</ion-view>
















